<?xml version="1.0" encoding="utf-8"?><!-- android:roundIcon="@mipmap/ic_launcher_round" --><!-- android:theme="@style/splashScreenTheme" -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cloud.cloudcontrol">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="pl.example.cloud.cloudcontrol.CloudController"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="pl.example.cloud.activities.connection.BluetoothConnection"
            android:screenOrientation="portrait"
            android:theme="@style/splashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="pl.example.cloud.activities.connection.ConnectionService"
            android:exported="false" />

        <activity android:name="pl.example.cloud.cloudcontrol.Settings"></activity>
    </application>

</manifest>